body {
    background-color: #333333;
}
h1 {
    text-align: center;
    color: white;
}
.wrapper {
    margin: 0 auto;
    position: relative;
    width: 640px;
}
.background {
    position: absolute;
    width: 640px;
    height: 640px;
    border-radius: 310px;
    background-color: #000;
    z-index: 0;
    float: left;
}
.sqr {
    width: 300px;
    height: 300px;
    border-color: black;
    margin: 10px;
    opacity: .6;
    z-index: 1;
}
#topcontainer {
    float: left;
}
#btmcontainer {
    float: left;
}
#topl {
    background-color: green;
    border-top-left-radius: 300px;
}
#topr {
    background-color: red;
    border-bottom-left-radius: 300px;
}
#btml {
    background-color: yellow;
    border-top-right-radius: 300px;
}
#btmr {
    background-color: blue;
    border-bottom-right-radius: 300px;
}
#start {
    background-color: black;
    color: white;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    padding: 15px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 40%;
}
.lit {
    opacity: 1;
}
.level, .score {
    width: 50%;
    float: left;
    text-align: center;

}